<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--連線字串 測試區-->
    <add key="ConnectionString" value="Data Source=. ;Initial Catalog=energydb ;User ID=sa;Password=1qaz@WSX;Trusted_Connection=false;" />
    <!--連線字串 上線區-->
    <!--<add key="ConnectionString" value="Data Source=(local) ;Initial Catalog=energydb ;User ID=sa;Password=Laputa@itri.org.tw;Trusted_Connection=false;"/>-->
    <!--附件上傳資料夾 測試區-->
    <!--<add key="UploadFileRootDir" value="\\nas-1\intraqas\intertest5u\getds_upd\"/>-->
    <add key="UploadFileRootDir" value="D:\WebUpLoad\OilgasSys_Upload\" />
    <!--附件上傳資料夾 上線區-->
    <!--<add key="UploadFileRootDir" value="\\nas-1\inter16\sgetds\upload\"/>-->
    <!--<add key="UploadFileRootDir" value="E:\WebUpLoad\OilGasSys_Upload\"/>-->
	<!--onlyoffice的JWT驗證金鑰-->
	<add key="JwtSecret" value="TdiBmaR1shP2fh7Rl253jzg4H3vC2RPw" />
    <!--寄信功能 MailStatus 開啟:open  關閉:close-->
    <add key="MailStatus" value="close" />
    <add key="MailFrom" value="" />
    <add key="MailSender" value="" />
    <add key="SmtpServer" value="mail.itri.org.tw" />
    <add key="OnlyOfficeServerUrl" value="http://localhost:8088" />
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--資安用-->
    <customErrors mode="Off" />
    <machineKey decryption="3DES" />
    <!--資安用-->
    <sessionState mode="InProc" timeout="1440" />
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime executionTimeout="180" maxRequestLength="2147483647" />
    <!-- requestValidationMode="2.0"-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--防止SQLinjection攻擊-->
    <!--<httpModules>
      <add name="AntiSQLinjection" type="AntiSQLinjection" />
    </httpModules>-->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <!--<modules>
      <add name="AntiSQLinjection" type="AntiSQLinjection"/>
    </modules>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>