################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/GasOilSys/copilot-chat/b89cb17d/sessions
/.vs/GasOilSys/CopilotIndices/17.12.53.23981
/.vs/GasOilSys/FileContentIndex
/.vs/GasOilSys/v17
/.vs/GasOilSys/v16/.suo
